{% extends 'base.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block content %}

    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12 mb-3 px-0">
                <a class="btn btn-dark m-0" href="{% url 'book_loans:create_book' %}">Livro {% bs_icon 'plus-lg' %}</a>
            </div>
            {% if books %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col">Autor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <th scope="row">{{ book.id }}</th>
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-danger">Não há livros cadastrados</p>
            {% endif %}
        </div>
    </div>

    {% include 'pagination.html' with page_obj=page_obj %}

{% endblock %}