{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    
    <h1>Adicionar um novo empréstimo</h1>

    <form method="post">
        {% csrf_token %}
        
        {% bootstrap_form_errors form type='non_fields' %}
        {% for field in form %}
            {% bootstrap_field field show_help=False placeholder='' bound_css_class='' %}
        {% endfor %}

        <button class="btn btn-dark" type="submit">Salvar</button>
    </form>

    <div class="mt-5">
        <a class="btn btn-dark btn-sm" href="{% url 'book_loans:create_book' %}">Adicionar novo livro</a>
        <a class="btn btn-dark btn-sm" href="{% url 'book_loans:create_borrower' %}">Adicionar novo leitor</a>
    </div>

{% endblock %}