{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimos de livros</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
        {% include 'navbar.html' %}
        <main class="p-4 p-sm-5 main-container">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </main>
    {% else %}
        {% block login %}{% endblock %}
    {% endif %}
</body>

</html>